.container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 8px;
}

.fact {
  background-color: lightgreen;
  border-radius: 5px;
  padding: 0 32px 0 32px;
}

h1 {
  text-align: center;
}
